<%- include("includes/head") %>
<%- include("includes/nav") %>

<div class="container">
   <div class="row">

      <div class="col-lg-2"></div>

      <% if(!user) { %>
         
         <div class="col-lg-8 my-5">
            <h1 id="h1-home-agenda" class="text-center text-white">Faça o Login ou Crie sua conta.</h1>
            <!-- <p class="text-center lead text-white">Seus compromissos estão abaixo: </p> -->
         </div>

      <% } %>

      <% if(user) { %>
      
         <div class="col-lg-8 my-5">
            <h1 id="h1-home-agenda" class="text-center text-white">TaskApp</h1>
            <h1 id="h1-home-agenda" class="text-center text-white">
               Olá, <%= user.email %>
            </h1>
            <p class="text-center lead text-white">Suas tasks estão abaixo:</p>
            
         </div>

         <div class="row m-4 w-50 ">
            <div class="col">
               <button id="btnTasks" class="btnTask" type="button">
                  Adicionar Task
               </button>
            </div>
         </div>

         <div id="mainNewTask" class="d-none">
            <div id="divPreForm">
               <form id="formTask" action="/task/create" method="post" class="rounded-3 bg-dark">

                  <div id="divInForm" class="bg-light text-bg-light rounded-3">

                     <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                     <label for="nome">Nome:</label>
                     <input class="input-group-text mb-4" type="text" name="nome" id="inpNome">

                     <label for="client">Cliente:</label>
                     <input class="input-group-text mb-4" type="text" name="client" id="inpClient">

                     <label for="data">Data:</label>
                     <input class="input-group-text mb-4 p-3" type="date" name="data" id="inpData" >

                     <label for="link">Link:</label>
                     <input class="input-group-text mb-4" type="text" name="link" id="inpLink" >
                     

                     <label for="descr">Descrição:</label>
                     <textarea class="input-group-text mb-4" name="descr" id="inpDescr" cols="30" rows="10"></textarea>
                     
                     <br>

                     <div class="d-flex justify-content-center align-items-center">

                        <!-- <a id="linkNewTast" href=""> -->
                           <button type="submit" class="btn btn-dark w-100 ">
                              Criar
                           </button>
                        <!-- </a> -->
                     
                     </div>


                  </div>

                  <button id="btnClose" class="btn-close btn-close-white" type="button"></button>

               </form>
            </div>
         </div>

         <div class="table-responsive">
            <table id="tbl" class="table text-center table-dark table-striped table-hover">

               <thead style="font-weight: bold; font-size: large;">
                  <td>Nome</td>
                  <td>Cliente</td>
                  <td>Due</td>
                  <td>Link</td>
                  <td>Descrição</td>
               </thead>

               <% tasks.forEach(task => { %>

                  <tr>
                     <td><%= task.nome %></td>
                     <td><%= task.cliente %></td>
                     <td><%= task.data %></td>
                     <td><%= task.link %></td>
                     <td><%= task.descricao %></td>
                     <td>
                        <a href="/task/edit/<%= task._id %>">Edit</a>
                     </td>
                  </tr>

               <% }); %>

            </table>

         </div>

      <% } %>

      <div class="col-lg-2"></div>
      
   </div>
</div>

<%- include("includes/footer") %>
